version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    container_name: postgres_bedeploy
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bedeploy
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: express_bedeploy
    restart: always
    depends_on:
      - db
    ports:
      - "3001:3001"
    env_file:
      - .env
    command: sh -c "npx prisma migrate deploy && node src/index.js"

volumes: 
  pgdata:
